.header {
    display: flex;
    justify-content: space-between;

    padding: 12px 24px;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: rgba(22, 24, 35, 0.07);
    margin-bottom: 2rem;
}

.header-search {
    .icon-bars-header {
        font-size: 2.8rem;
    }
}

.header-account {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    .dropdown {
    }
    .account {
        display: flex;
        align-items: center;
        img {
            padding: 4px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .account-name {
            color: #858796;
        }
    }
}
