:root {
    --border-radius-admin: 4px;
}
.content {
    width: 100%;
    .center {
        text-align: center;
    }
}
.wrapper {
    padding-top: 0.4rem;
}

.form-group {
    width: 60%;
    margin: 0 auto;
    padding: var(--padding-lecturers);
    padding-bottom: 2rem;
    .wrapper-item {
        padding-bottom: 1.5rem;
        label {
            font-size: 1.8rem;
            display: block;
        }
        input {
            padding: 12px 8px;
            width: 100%;
            border: 1px solid rgba(28, 43, 129, 0.75);
            border-radius: var(--border-radius-admin);
            font-size: 1.5rem;
            opacity: 0.8;
            outline: none;
            &:focus-within {
                border-color: #007bff;
            }
        }

        button {
            color: var(--color-admin);
            background-color: var(--primary-admin);
            padding: 16px 8px;
            width: 100px;
            border-radius: var(--border-radius-admin);
            &:hover {
                opacity: 0.9;
            }
        }
    }
}
