.content {
    width: 80%;
    margin: 0 auto;
    .center {
        text-align: center;
    }
}
.wrapper {
}

.p-r {
    padding-right: 4px;
}
.p-l {
    padding-left: 4px;
}
.table__wrapper {
    margin: 20px 0;
    padding: 0 20px;
    .table__content {
        padding: 20px 0;

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            padding: 22px 8px !important;
        }

        table,
        th,
        td {
            border: 1px solid #ccc;
            padding: 16px 8px;
        }

        td {
            font-size: 1.4rem;
        }

        .tbl__heading--item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--black-color);
        }

        .tbl__arr--down,
        .tbl__arr--up {
            color: #999;
            font-size: 1.2rem;
        }

        .tbl__arr--down {
            display: none;
        }

        .tbl__arr--dows {
            color: rgba(219, 65, 45, 0.9);
            font-size: 1.5rem;
        }
        .tbl__arr--ups {
            color: #02b875;
            font-size: 1.5rem;
        }

        .tbl__arr--dows,
        .tbl__arr--ups {
            &:hover {
                opacity: 0.5;
            }
        }

        .tbl__arr--down {
            display: none;
        }

        .success {
            color: #02b875;
        }
    }

    .table__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .table__control--left {
        span {
            font-size: 1.3rem;
        }
    }
    // .table__control--right {
    //     .tbl__ctrl--wrapper {
    //     }

    //     .tbl__ctrl--list {
    //         display: flex;
    //         align-items: center;
    //         list-style: none;
    //     }

    //     .tbl__ctrl--btn {
    //         padding: 8px;
    //         font-size: 1.4rem;
    //         border-radius: 4px;
    //     }

    //     .tbl__ctrl--btn + .tbl__ctrl--btn {
    //         margin-left: 8px;
    //     }

    //     .ctrl__btn {
    //         background-color: #ccc;
    //         color: #555;
    //         cursor: pointer;
    //     }

    //     .num__btn {
    //         padding: 8px 12px;
    //     }

    //     .num__btn.active {
    //         background-color: var(--primary-color);
    //         color: #fff;
    //     }

    //     .ctrl__btn.disabled {
    //         background-color: #eee;
    //         color: #999;
    //         pointer-events: none;
    //     }
    // }

    .table__static {
        margin-top: 20px;

        .table__static--header {
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;

            h4 {
                font-size: 1.6rem;
                letter-spacing: 0.05rem;
                line-height: 2rem;
                font-weight: 500;
            }
        }

        .table__static--tbl {
            margin-top: 20px;
            .tbl__heading {
                h4 {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }

            .tbl {
                padding: 20px 0;
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th {
                    padding: 16px 10px !important;
                    font-size: 1.4rem;
                    font-weight: 500;
                    text-align: left;
                }

                table,
                th,
                td {
                    border: 1px solid #d8d8d8;
                    padding: 12px 8px;
                }

                td {
                    font-size: 1.4rem;
                    background-color: #ececec;
                }
            }
        }
    }
}
