.wrapper {
    --footer-dashboard-background-color: #192041;
    border-top: 10px solid var(--primary-color);
    min-height: 300px;
    background-color: var(--footer-dashboard-background-color);
}

.footer {
    margin: 10px 0;
    padding: 20px 0;
}

.footer__logo--img {
    height: 70px;
}

.footer__info {
    color: #fff;
    letter-spacing: 0.05rem;
}

.footer__info--heading {
    h1 {
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    p {
        font-size: 1.4rem;
    }
}

.footer__info--content {
    margin-top: 20px;
}

.footer__item {
    margin-bottom: 20px;

    h6 {
        font-size: 18px;
        color: var(--primary-color);
        text-decoration: underline;
        padding-bottom: 14px;
    }

    p {
        font-size: 1.3rem;
        line-height: 1.6rem;
        padding-bottom: 10px;
    }
}
